<!DOCTYPE html>
<html lang="en">
<head>
    <title>Violation System</title>
    <link rel="stylesheet" href="/stylesheets/ViewStyle.css"/>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>
<body>
<div class="PSU">
    <img id="psuShield" src="/images/psuShield.jpg" alt="*Lion*" width="75" height="75" align="left">
    <h1 id="psuText">PennState</h1>
</div>

<div id="nav">
    <section class="nav_menu" id="navsec">
        <a href="http://localhost:3000/violations_home" class="nav_page">View Violations</a>
        <a href="http://localhost:3000/violations_weekly">View Report</a>
        <a href="http://localhost:3000/control_access">Control Access</a>
        <a href="http://localhost:3000/logout">Logout</a>
    </section>
</div>

<div>
    <form action="http://localhost:3000/violations_home" method="post">
        <input type="radio" id="filter" name="filter" value="Mask">
        <label for="filter">Type: Mask</label><br>
        <input type="radio" id="filter" name="filter" value="Fever">
        <label for="filter">Type: Fever</label><br>
        <input type="radio" id="filter" name="filter" value="Burke">
        <label for="filter">Location: Burke</label><br>
        <input type="radio" id="filter" name="filter" value="AMIC">
        <label for="filter">Location: AMIC</label><br>
        <input type="radio" id="filter" name="filter" value="Library">
        <label for="filter">Location: Library</label><br>
        <input type="radio" id="filter" name="filter" value="Nick">
        <label for="filter">Location: Nick</label><br>
        <button id="filterButton" type="submit">Filter</button>
    </form>
    <p class="noticeText">Showing All <%= vioNum %> Captured Violations</p>
</div>

<script>
    function myFunction(time, date, loc, type, img) {
        var infoStr = `${time} | ${date} | ${loc} | ${type}`;
        document.getElementById('vioInfo').innerHTML = infoStr;
        document.getElementById('vioImg').src = img;
    }
</script>

<div class="Content">
    <div class="Wrapper">
      <div class="RightContent">
        <p id="vioInfo">Click a button to see more information about a specific violation.</p>
        <img id="vioImg" alt="An image of the violator will be displayed as well." height="80%" width="50%">
      </div>
      <div class="LeftContent">
        <% for (var i in vios) { %>
            <button type="button" class="btn" onclick="return myFunction('<%= vios[i].time %>', '<%= vios[i].date %>', '<%= vios[i].location %>', '<%= vios[i].violationType %>', '<%= vios[i].imageUrl %>')"><%= vios[i].time %> | <%= vios[i].date %></button>
        <% } %>
      </div>
    </div>
</div>

</body>
</html>