<!DOCTYPE html>
<html lang="en">
<head>
    <title>Violation System</title>
    <link rel="stylesheet" href="/stylesheets/ViewStyle.css"/>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>
<body>
<div class="PSU">
    <img id="psuShield" src="/images/psuShield.jpg" alt="*Lion*" width="75" height="75" align="left">
    <h1 id="psuText">PennState</h1>
</div>

<div id="nav">
    <section class="nav_menu" id="navsec">
        <a href="http://localhost:3000/violations_home" >View Violations</a>
        <a href="http://localhost:3000/violations_weekly" class="nav_page">View Report</a>
        <a href="http://localhost:3000/control_access">Control Access</a>
        <a href="http://localhost:3000/logout">Logout</a>
    </section>
</div>

<div>
    <p class="noticeText">Showing Weekly Report of <%=lower %> to <%= upper %></p>
</div>

<script>
    function myFunction(time, date, loc, type, img) {
        var infoStr = `Time: ${time}<br>Date: ${date}<br>Location: ${loc}<br>Type: ${type}`;
        document.getElementById('vioInfo').innerHTML = infoStr;
        document.getElementById('vioImg').src = img;
    }
</script>

<div>
    <div class="Wrapper">
      <div class="RightContent">
        <p id="vioInfo">Click a button to see more information about a specific violation.<br>An image of the violator will be displayed as well.</p>
        <img id="vioImg">
      </div>
      <div class="LeftContent">
        <% var n = 1 %>
        <% for (var i in vios) { %>
            <button type="button" class="btn" onclick="myFunction('<%= vios[i].time %>', '<%= vios[i].date %>', '<%= vios[i].location %>', '<%= vios[i].violationType %>', '<%= vios[i].imageUrl %>')">(<%= n %>) <%= vios[i].date %> at <%= vios[i].time %></button>
            <% n = n + 1 %>
        <% } %>
      </div>
    </div>
</div>

</body>
</html>